.title-block {
  font-size: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;

  .price {
    margin-right: 5px;
  }
}

.address {
  margin-bottom: 20px;
  font-size: 16px;
}

.metro-block {
  margin-bottom: 40px;
  display: flex;

  .metro-item {
    margin-right: 20px;
    font-size: 14px;

    .transport-time {
      color: #b5b4b4;
      font-size: 12px;
    }
  }
}
