.options-block {
  margin-bottom: 20px;

  .option {
    margin: 20px 0;

    span {
      margin-left: 10px;
    }
  }
}

.description-block {
  margin-bottom: 20px;
}

.block-title {
  font-size: 18px;
  margin-bottom: 20px;
}
